  
  * {
    box-sizing: border-box;
  }
  body{
    margin: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  }

  
  .image{
    background-image: url(./CMSImages/ccamp.jpg);
  }
  
 
 
/* Container needed to position the overlay. Adjust the width as needed */
.Courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Cardimg{
  display: block;
  width: 100%;
  height: auto;
}
  
/* Make the image to responsive */
.image {
  display:block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.Courses:hover .overlay {
  opacity: 1;
}

  h1,h2,h3,h4,h6>h5{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  footer {
    background-color:blueviolet;
    padding: 10px;
    text-align: center;
    color: white;
  }